<div>

    <h2 translate="teamtrackerApp.tracerEvent.home.title">TracerEvents</h2>

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary" data-toggle="modal" data-target="#saveTracerEventModal" ng-click="clear()">
                    <span class="glyphicon glyphicon-flash"></span> <span translate="teamtrackerApp.tracerEvent.home.createLabel">Create a new TracerEvent</span>
                </button>
            </div>
        </div>
    </div>

    <div class="modal fade" id="saveTracerEventModal" tabindex="-1" role="dialog" aria-labelledby="myTracerEventLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="editForm" role="form" novalidate ng-submit="save()" show-validation>

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" id="myTracerEventLabel" translate="teamtrackerApp.tracerEvent.home.createOrEditLabel">Create or edit a TracerEvent</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label translate="global.field.id">ID</label>
                            <input type="text" class="form-control" name="id"
                                   ng-model="tracerEvent.id" readonly>
                        </div>

                        <div class="form-group">
                            <label translate="teamtrackerApp.tracerEvent.date">Date</label>
                            <input type="datetime-local" class="form-control" name="date"
                                   ng-model="tracerEvent.date" ng-model-options="{timezone: 'UTC'}" required>

                            <div ng-show="editForm.date.$invalid">
                                <p class="help-block"
                                   ng-show="editForm.date.$error.required" translate="entity.validation.required">
                                    This field is required.
                                </p>
                                <p class="help-block"
                                   ng-show="editForm.date.$error.datetimelocal" translate="entity.validation.datetimelocal">
                                    This field should be a date and time.
                                </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label translate="teamtrackerApp.tracerEvent.customerId">CustomerId</label>
                            <input type="number" class="form-control" name="customerId"
                                   ng-model="tracerEvent.customerId" required>

                            <div ng-show="editForm.customerId.$invalid">
                                <p class="help-block"
                                   ng-show="editForm.customerId.$error.required" translate="entity.validation.required">
                                    This field is required.
                                </p>
                                <p class="help-block"
                                   ng-show="editForm.customerId.$error.number" translate="entity.validation.number">
                                    This field should be a number.
                                </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label translate="teamtrackerApp.tracerEvent.representativeId">RepresentativeId</label>
                            <input type="number" class="form-control" name="representativeId"
                                   ng-model="tracerEvent.representativeId" required>

                            <div ng-show="editForm.representativeId.$invalid">
                                <p class="help-block"
                                   ng-show="editForm.representativeId.$error.required" translate="entity.validation.required">
                                    This field is required.
                                </p>
                                <p class="help-block"
                                   ng-show="editForm.representativeId.$error.number" translate="entity.validation.number">
                                    This field should be a number.
                                </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label translate="teamtrackerApp.tracerEvent.type">Type</label>
                            <input type="text" class="form-control" name="type"
                                   ng-model="tracerEvent.type" required>

                            <div ng-show="editForm.type.$invalid">
                                <p class="help-block"
                                   ng-show="editForm.type.$error.required" translate="entity.validation.required">
                                    This field is required.
                                </p>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="editForm.$invalid" class="btn btn-primary">
                            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteTracerEventConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="deleteForm" ng-submit="confirmDelete(tracerEvent.id)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" translate="entity.delete.title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <p translate="teamtrackerApp.tracerEvent.delete.question" translate-values="{id: '{{tracerEvent.id}}'}">Are you sure you want to delete this TracerEvent?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th translate="global.field.id">ID</th>
                    <th translate="teamtrackerApp.tracerEvent.date">Date</th>
                    <th translate="teamtrackerApp.tracerEvent.customerId">CustomerId</th>
                    <th translate="teamtrackerApp.tracerEvent.representativeId">RepresentativeId</th>
                    <th translate="teamtrackerApp.tracerEvent.type">Type</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="tracerEvent in tracerEvents">
                    <td><a ui-sref="tracerEventDetail({id:tracerEvent.id})">{{tracerEvent.id}}</a></td>
                    <td>{{tracerEvent.date}}</td>
                    <td>{{tracerEvent.customerId}}</td>
                    <td>{{tracerEvent.representativeId}}</td>
                    <td>{{tracerEvent.type}}</td>
                    <td>
                        <button type="submit"
                                ui-sref="tracerEventDetail({id:tracerEvent.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                        </button>
                        <button type="submit"
                                ng-click="showUpdate(tracerEvent.id)"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
                        </button>
                        <button type="submit"
                                ng-click="delete(tracerEvent.id)"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete"> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <nav>
            <ul class="pagination">
                <li ng-show="links['first']" ng-click="loadPage(links['first'])"><a>&lt;&lt;</a></li>
                <li ng-show="links['prev']" ng-click="loadPage(links['prev'])"><a>&lt;</a></li>
                <li ng-show="page > 2" ng-click="loadPage(page - 2)"><a>{{page - 2}}</a></li>
                <li ng-show="page > 1" ng-click="loadPage(page - 1)"><a>{{page - 1}}</a></li>
                <li class="active"><a>{{page}}</a></li>
                <li ng-show="page < links['last']" ng-click="loadPage(page + 1)"><a>{{page + 1}}</a></li>
                <li ng-show="page < links['last'] - 1" ng-click="loadPage(page + 2)"><a>{{page + 2}}</a></li>
                <li ng-show="links['next']" ng-click="loadPage(links['next'])"><a>&gt;</a></li>
                <li ng-show="links['last']" ng-click="loadPage(links['last'])"><a>&gt;&gt;</a></li>
            </ul>
        </nav>
    </div>
</div>
